.login,
.signUp,
.forgotPass,
.reset {
  width: 100%;
  min-height: 827px;
  height: 100vh;
  background: #0F0E19;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb_0 {
  margin-bottom: 0px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_16 {
  margin-bottom: 16px;
}