.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 28px 120px;
}

.header_links>ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 515px;
    height: 21px;
    list-style: none;
    cursor: pointer;
}

.header_links>ul>li {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.header_links .active {
    color: #32E5EB;
}

.header_profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 196px;
    height: 40px;

}

.sign_up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 40px;
    width: 89px;
    height: 40px;
    background: linear-gradient(90deg, #23AFB7 1.46%, #169AA4 79.47%);
    border-radius: 8px;
}

.sign_in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 40px;
    width: 89px;
    height: 40px;
    border-image-source: linear-gradient(47.36deg, #2DF1E6 12.24%, #3694B0 37.45%, #468DB3 39.38%, #6F79BA 44.93%, #8D6BBF 49.97%, #9F63C2 54.29%, #A660C3 57.37%);
    border: 1px solid;
    border-radius: 8px;


}