.joinPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinPageHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 609px;
  height: 103px;
}

.joinPageHeading h2 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
}

.joinPageHeading h2>span {
  background: linear-gradient(57.89deg, #2DF1E6 61.08%, #3694B0 67.87%, #468DB3 68.39%, #6F79BA 69.88%, #8D6BBF 71.24%, #9F63C2 72.4%, #A660C3 73.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.joinPageHeading p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #989898;
}

.mainForm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 0.5px solid;
  border-image-source: linear-gradient(90deg, #23AFB7 1.46%, #169AA4 79.47%);
  border-image-slice: 1;
  margin: 80px 0px;
}

.joinPageImg {
  width: 570px;
  height: 774px;
}

.joinPageForm {
  box-sizing: border-box;
  width: 641px;
  height: 774px;
}

.joinPageForm form {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.joinPageForm .formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 40px;
}

.joinPageForm .formGroup label {
  width: fit-content;
  height: 28px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFD;
  margin-bottom: 16px;
}

.joinPageForm .formGroup input {
  width: 505px;
  height: 48px;
  background: #1D1B2D;
  border-radius: 4px;
  border: none;
  padding: 0px 16px;
  margin-bottom: 24px;
}

.joinPageForm .formGroup input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.joinPageForm .formGroup input:focus {
  outline: none;
}

.joinPageForm .formGroup textarea {
  width: 505px;
  height: 96px;
  background: #1D1B2D;
  border-radius: 4px;
  border: none;
  padding: 16px;
  resize: none;
}

.joinPageForm .formGroup textarea:focus {
  outline: none;
}

.formGroupBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 505px;
  height: 48px;
  gap: 30px;
  margin-top: 40px;
}

.formGroupBtn .btnSubmit {
  width: 160px;
  height: 40px;
  background: linear-gradient(90deg, #23AFB7 1.46%, #169AA4 79.47%);
  border-radius: 8px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFF8F8;

}

.formGroupBtn button:hover {
  cursor: pointer;
}

.formGroupBtn .btnReset {
  width: 160px;
  height: 40px;
  background: inherit;
  border-radius: 8px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFF8F8;
  border: 1px solid #23AFB7;
}