.dashboardBody {
  display: flex;
  align-items: flex-start;
  gap: 117px;
}

.mainArea {
  min-width: 291px;
  min-height: 668px;
  height: fit-content;
}

.childrenArea {
  width: calc(100% - 291px + 117px);
}